<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.baljeet.expirytracker">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="com.android.vending.BILLING" />
<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

<application
    android:usesCleartextTraffic="true"
    android:requestLegacyExternalStorage="true"
    android:hardwareAccelerated="true"
    android:name=".CustomApplication"
    android:allowBackup="true"
    android:fullBackupOnly="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.ExpiryTracker">
    <receiver
        android:name=".widgets.StackViewWidget"
        android:exported="true">
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>

        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/stack_view_widget_info" />
    </receiver>

    <activity
        android:name=".OnBoarding"
        android:exported="true">
        <nav-graph android:value="@navigation/main_nav" />
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <receiver android:name=".util.NotificationReceiver" />

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="com.baljeet.expirytracker.provider"
        android:enabled="true"
        android:grantUriPermissions="true"
        android:exported="false">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths" />
    </provider>

    <activity
        android:name=".MainActivity"
        android:exported="false" />

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-1506373039840442~7553864843" />

    <service
        android:name=".listAdapters.WidgetStackViewAdapter"
        android:permission="android.permission.BIND_REMOTEVIEWS" />

    <receiver
        android:name="com.baljeet.expirytracker.widgets.TrackingInfoWidget"
        android:exported="true">
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>

        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/tracking_info_widget_info" />
    </receiver>


</application>

</manifest>